
<div class="container">
    <div class="header">
      
      <div class="actions">
        <mat-form-field appearance="outline" >
          <mat-label>Rechercher</mat-label>
          <input matInput 
                 [formControl]="searchControl" 
                 placeholder="Rechercher une catégorie...">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
  
        <button mat-raised-button color="primary" (click)="openAddDialog()">
          <mat-icon>add</mat-icon> Nouvelle Catégorie
        </button>
      </div>
    </div>
  
    <div *ngIf="loading" class="loading">
      <mat-spinner diameter="40"></mat-spinner>
      Chargement en cours...
    </div>
    
    <div *ngIf="errorMessage" class="error mat-elevation-z2">
      {{ errorMessage }}
    </div>
  
    <div class="table-container mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <!-- Colonne ID -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let cat">{{ cat.id }}</td>
        </ng-container>
  
        <!-- Colonne Nom -->
        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef>Nom</th>
          <td mat-cell *matCellDef="let cat">{{ cat.nom }}</td>
        </ng-container>
  
        <!-- Colonne Actions -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let cat">
            <button mat-icon-button 
                    color="primary" 
                    matTooltip="Modifier"
                    (click)="openEditDialog(cat)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button 
                    color="warn" 
                    matTooltip="Supprimer"
                    (click)="deleteCategory(cat.id!)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons
                     aria-label="Select page of categories">
      </mat-paginator>
    </div>
  </div>